
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
/Content/Asset
/Content/Temp
/Content/Assets
/Content/ThirdPerson
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/Mpas/Lvl_ThirdPerson.umap
/Content/PlayerCharacter/AnimationBP
/Content/ParagonDrongo
/Content/ParagonGRIMexe
/Content/ParagonRampage
/Plugins
/Shooter.uproject.DotSettings.user
/Content/AdvancedLocomotionV4
/Content/EuropeanHornbeam
/Content/Fab
/Content/Movies
/Content/MSPresets
/Content/Scene_Warehouse
/Content/Scene_UnfinishedBuilding
/Content/Safe_House
/Content/UltraDynamicSky
/Content/GraveSerpentKing
/Content/IndustrialPipesM
/Content/Cinematics

